.bodyBackground 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color: white;
   border-style: center;
   border-color: darkviolet;
   background-image:url(BirthdayImage.jpg) ;
  background-position: center;
  background-size: 100%;
}



